<% if(members.length != 0){ %>
    <% if(!single){ %>
        <h1 class="center-all">Members</h1>
    <% } %>
    <table>
        <thead>
            <tr>
                <% if(!single){ %>
                    <th>S.No</th>
                <% } %>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Weight</th>
                <% if(!single){ %>
                    <th>Delete</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% let i=1 %>
            <% members.forEach(function(member) { %>
            <tr>
                <% if(!single){ %>
                    <td><%= i++ %></td>
                <% } %>
                <td><%= member.member_name %></td>
                <td><%= member.age %></td>
                <td><%= member.gender %></td>
                <td><%= member.weight %></td>
                <% if(!single){%>
                    <td>
                        <a href="members/delete/<%= member.member_id %>">Delete</a>   
                    </td>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>