<%- include('../../header.ejs', {pagename: pagename}); %>
<%- include('../../navbar.ejs', {username: username}); %>
    <div class="container-fluid">
        <% if (message) { %>
            <div class="alert"><%= message %></div>
        <% } %>
        <div class = "poo">
            <h1 class="heading">Blood Sugar</h1>
                <form class="feature-form" method="post" action="sugar-monitor">
                    <label> Name</label>
                    <select id="familyMembers" name="member">
                        <% familyMembers = Array.from(familyMembers); %>
                        <% familyMembers.forEach(function(member) { %>
                        <option value="<%= member.member_id %>"><%= member.member_name %></option>
                        <% }); %>
                    </select>
                    <label> Before Meal</label>
                    <input type="number" name="fbs" required>
                    <label> After Meal</label>
                    <input type="number" name="pbs" required>
                    <input type="submit" value="Submit">
                </form>
        </div>    
    </div>
<%- include('../../footer.ejs'); %>

