<%- include('../../header.ejs', {pagename: pagename}); %>
<%- include('../../navbar.ejs', {username: username}); %>
    <div class="container-fluid">
        <% if (!activeMember) { %>
            <div class="feature-form myb-4">
                <h1 class="heading">Members List</h1>
                <select class="" name="members" onchange="location = this.value;">
                <option value="">Select a member</option>
                <% members.forEach(function(member) { %>
                    <option value="/user/report/temp/<%= member.member_id %>"><%= member.member_name %></option>
                <% }) %>
                </select>
            </div>
        <% } %>
            <% if (activeMember) { %>
                <%- include('../member-details.ejs', {members: activeMember, single: true}); %>  
                <% if(!tempHistory){ %>
                    <form class="feature-form" method="post" action="/user/report/temp/<%= req_id %>">
                        <label>Start Date</label>
                        <input type="date" name="startDate">
                        <label>End Date</label>
                        <input type="date" name="endDate">
                        <input type="submit" value="Get Report">
                    </form>
                <% } %>
                <% if(tempHistory){ %>
                    <%- include('./temperature-history.ejs', {tempHistory : tempHistory}); %>  
                <% } %>
            <% } %>
    </div>
<%- include('../../footer.ejs'); %>

